body {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


#sideLink {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8%
}

#headshot {
    margin-left: 20%;
    margin-right: 20%;
    height: 320px;
    width: 220px;
}

header, main, footer {
  padding-left: 20%;
  width: 100%;
}
    
main {
    flex: 1 0 auto;
}
  
p {
    margin: 20px;
}
.item {
    display: inline-block;
    padding: 30px;
    max-width: 250px;
    margin-right: 20px
}

img.portfolioImage {
    height: 200px;
    width: 250px;
    cursor: pointer;
}

.dropdown-content {
    max-height: 200px;
    width: 220px;
    text-align: center;

}

.dynamicImage {
    height: 200px;
    width: 250px;
}


.active {
    /*color: #00b8d4!important;*/

    height: 500px;
}

.divider {
    background-color: #474a4f;
}

.dropdown-trigger {
    max-height: 300px;
    width: 250px;
    text-align: center;
    background: #474a4f;
    /*cursor: default;*/
}

#skillsIcons {
    max-height: 150px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    padding-right: 10%;
    margin-left: 55%;
    margin-top: 5%;
}
  
.social {
    height: 50px;
    width: 50px;
     display: inline-block;
}



#connectWithLabel {
    text-align: center;
}

.sideConnect {
   padding-left: 5%;
   padding-top: 5%;
}


.container {

    width: 100%;
}

i.material-icons.menu {
    font-size: 60px;
    margin-top: -30px;
}

nav {
    padding: 4% 8%;
    line-height: 3%;
    background-color: #474a4f;
}

nav .brand-logo {
    margin-left: 3%;
}

.btn-large {
    /*margin-top: -9%;*/
    background-color: #f44336;
    text-align: center;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-top: -8%;
}

.sidenav .user-view {
    padding: 0%;
  
}

#logo {
    width: 300px;
    height: 500px;
}

h5 {
    margin-left: 5%;
    font-size: 18px;
}


.resumeContent {
    margin-left: 5%;
}

.submitform {
    font-size: 20px;
    color: #474a4f;
    position: relative;
    bottom: 20px;
    left: 25px;
}

#formButton {
    padding-left: 30px;
}

waves-effect waves-light red btn modal-trigger {
    padding-left: 50px;
}

input, textarea {
    position: relative;

}

textarea.materialize-textarea {
    min-height: 10rem;
}


.topmargin {
    margin-top: 3%;
}

.margin {
    margin-top: 16%;
}



input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
    border: 1px solid grey;
    height: 2rem;
    width: 60%;
    margin-left: 5%;
    border-radius: 6px;

}

.tabs .tab a {
    color: #474a4f;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: #f44336;
}

.tabs .indicator {
    background-color: #f44336;
}




.card.large {
    height: 545px;
}

#about, #portfolio, #resume {
    height: 360px;
    overflow: scroll;
}


.page-footer {
    background-color: #474a4f;
    padding-top: 0%;
}


@media only screen and (max-width : 990px) {
    header, footer, main {
        padding-left: 0;
    }

    .container {
        padding-left: 0;
    }
    
}

@media only screen and (max-width: 812px) {
    
    	#cardStuff {
		   margin-right: 5%;
		    margin-left: -10%;
		}
    
    .item {
    display: inline-block;
    padding: 30px;
    max-width: 250px;
    margin-right: 2%;
    /*margin-left: 2%;*/
}

    #medJosh {
        height: 180px;
        width: 110px;
        margin-left: -12%;
        margin-top: -5%;
    }
    
    
    #smallContact {
        margin-left: 25%;
    margin-right: 25%;

    }
    
    #skillsIcons {
    max-height: 200px;
    height: 100%;
    max-width: 250px;
    width: 100%;
    padding-right: 0%;
    margin-left: 0%;
    margin-top: -5%;
}
    
    textarea.materialize-textarea {
    border: 1px solid grey;
    height: 2rem;
    width: 100%;
    margin-left: 0%;
    border-radius: 6px;

}

.margin {
    margin-top: 0%;
}

    .sideConnect {
   padding-left: 15%;
   padding-top: 5%;
   margin-left: -20%;
}

 #sideLink {
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 8%
} 
    
    #gitLogo{
    margin-left: 0%;
   
}
    
    #logo2, #logo {
        margin-left: 2%;
        height: 300px;
    }
    
   
    
    body {
        width: 100%;
    }
    .row .col.m2 {

        width: 40%;
    }
    
    .row .col.offset-m1 {
        margin-left: 0%;
    }
    
    .row {
        padding-left: 15%;
    }
    
    .row .col.offset-m4 {
        margin-left: 15%;
    }
    
    .aboutP {
        margin-left: 0%;
        margin-right: 15%;
    }
    
}







@media only screen and (max-width: 601px) {
    
     .aboutP {
        margin-left: 0%;
        margin-right: 0%;
    }


    body {

	 width: 100%;
}
  
    nav {
        padding: 5%;
    }
    
    .row .col.m2 {
        width: 90%;
    }
    
    .row {
        padding-left: 10%;
    }
    
    #skillsIcons {
    max-height: 150px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    padding-right: 10%;
    margin-left: 3%;
    margin-top: -5%;
}

.sideConnect {
   padding-left: 15%;
   padding-top: 5%;
}

}


@media only screen and (max-width: 414px) {
    
  	#cardStuff {
		   margin-right: 0%;
		    margin-left: 0%;
		}
    
     .aboutP {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .sideConnect {
   padding-left: 15%;
   padding-top: 5%;
}

#logo2, #logo {
    width: 300px;
    height: 450px;
}

    body {
        width: 100%;
    }
    
    container {
        width: 100%;
        
    }
    
  
    .row .col.m2 {
        width: 100%;
    }
    
    .row {
        padding-left: 0%;
    }
    
    nav .brand-logo {
        font-size: 1.6rem;
        margin-top: 2%;
    }
    
    i.material-icons.menu {
        margin-top: -35%;
    }
    
    
    .social {
    height: 40px;
    width: 40px;
     display: inline-block;
}


#skillsIcons {
    max-height: 150px;
    height: 100%;
    max-width: 350px;
    width: 100%;
    padding-right: 10%;
    margin-left: 5%;
    margin-top: -5%;
}

#gitLogo{
    margin-left: 25%;
   
}

#linkedLogo {
    margin-left: 17%;
}



#smallContact, #smallMain, #submitButton {
    margin-left: 30%;
    margin-right: 30%;

    
}
    
       .sideConnect {
   padding-left: 20%;
   padding-top: 5%;
}

.item {
    display: inline-block;
    padding: 30px;
    max-width: 250px;
    margin-right: 0%;
    margin-left: 6%;
}


}



	@media screen and (min-width: 990px) { 
		.hide-on-large-only {
		    visibility: hidden;
		    margin: auto;
		    width: 50%;
		    
		}
	
	}
	
	
		@media screen and (min-device-width: 995px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {

		#cardStuff {
		    width: 650px;
		    margin-left: 15%;
		}
		
		header {
		    padding-left: 30%;
		}
	
	
	}